<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion de Propiedades</title>
	<link rel="stylesheet" th:href="@{/styles/main.css}" />
</head>

<body>


<h1 th:text="${propiedadForm.id == null ? 'Alta de Propiedad' : 'Edición de Propiedad'}"></h1>

<div th:if="${mensajeExito}"
     style="color: green;
            border: 1px solid green;
            padding: 10px;
            margin-bottom: 15px;">

    <span th:text="${mensajeExito}"></span>

</div>

<div class="container">

    <div class="card">
		
<form th:action="${propiedadForm.id == null}
                    ? @{/propiedades}
                    : @{'/propiedades/' + ${propiedadForm.id}}"
      th:object="${propiedadForm}"
      method="post">
	  <div th:if="${#fields.hasGlobalErrors()}">
	      <p th:each="err : ${#fields.globalErrors()}"
	         th:text="${err}">
	      </p>
	  </div>
	  <div th:if="*{id != null}">
	      ID:
	      <input type="text" th:field="*{id}" readonly>
	  </div>
	  <div class="form-group">
	  					<label>Dirección</label>
        <input type="text" th:field="*{direccion}">
		<div class="error"
							th:errors="*{direccion}">
						</div>
    </div>

	<div class="form-group">
					<label>Ciudad</label>
        <select th:field="*{idCiudad}">
            <option value="">Seleccione</option>

            <option th:each="ciudad : ${ciudades}"
                    th:value="${ciudad.id}"
                    th:text="${ciudad.nombre}">
            </option>
        </select>

        <span th:errors="*{idCiudad}"></span>
    </div>

    <div class="form-group">
				<label>Tipo</label>
        <select th:field="*{tipo}">
            <option value="">Seleccione</option>

            <option th:each="tipo : ${tipos}"
                    th:value="${tipo}"
                    th:text="${tipo}">
            </option>
        </select>
    </div>

    <div class="form-group">
			<label>Cantidad de ambientes</label>
        <input type="number"
               min="1"
               th:field="*{cantidadAmbientes}">

		<div class="error"
					th:errors="*{cantidadAmbientes}">
				</div>
    </di>

	<div class="form-group">
		<label>Metros cuadrados</label>
        <input type="number"
               step="0.01"
               min="1"
               th:field="*{metrosCuadrados}">

		<div class="error"
			th:errors="*{metrosCuadrados}">
		</div>
    </div>

	<div class="form-group">
	        <label>Descripción</label>
        <textarea th:field="*{descripcion}"></textarea>

		<div class="error"
					th:errors="*{descripcion}">
				 </div>
    </div>

    <div class="form-group">
        <label>Comodidades</label>
        <textarea th:field="*{comodidades}"></textarea>

		<div class="error"
			th:errors="*{comodidades}">
		 </div>
    </div>

    <div class="form-group">
        <label>Estado</label>
        <select th:field="*{estado}">

            <option value="">Seleccione</option>

            <option th:each="estado : ${estados}"
                    th:value="${estado}"
                    th:text="${estado}">
            </option>

        </select>
    </div>

	<div class="form-group">
         <label>Propietario</label>
        <select th:field="*{idPropietario}">
            <option value="">Seleccione</option>

            <option th:each="persona : ${propietarios}"
                    th:value="${persona.id}"
                    th:text="${persona.apellido + ', ' + persona.nombre}">
            </option>
        </select>

		<div class="error"
		         th:errors="*{idPropietario}">
		    </div>
    </div>

	<div style="margin-top:25px;">

	    <button class="btn btn-primary"
	            type="submit">
	        Guardar
	    </button>

	    <a th:href="@{/propiedades}"
	       class="btn btn-secondary">
	        Volver al listado
	    </a>

	</div>

</form>

    </div>
</div>


</body>
</html>