<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Propiedades</title>
	<link rel="stylesheet" th:href="@{/styles/main.css}" />
</head>


<body>
	<div class="page-header">
	    <h1>Propiedades</h1>

	    <a th:href="@{/propiedades/nueva}"
	       class="btn btn-success">
	        Nueva Propiedad
	    </a>
	</div>

		<form th:action="@{/propiedades}"
		      method="get"
		      class="card">

		    <div class="filters">

		        <div class="form-group">
		            <label>Dirección</label>

		            <input type="text"
		                   name="direccion"
		                   th:value="${direccionFiltro}">
		        </div>

		        <div class="form-group">
		            <label>Ciudad</label>

		            <select name="idCiudad">
		                <option value="">Todas</option>

		                <option th:each="ciudad : ${ciudades}"
		                        th:value="${ciudad.id}"
		                        th:text="${ciudad.nombre}"
		                        th:selected="${idCiudadFiltro != null and idCiudadFiltro == ciudad.id}">
		                </option>

		            </select>
		        </div>

		        <div class="form-group">
		            <label>Tipo</label>

		            <select name="tipo">
		                <option value="">Todos</option>
		                <option th:each="tipo : ${tipos}"
		                        th:value="${tipo}"
		                        th:text="${tipo}"
		                        th:selected="${tipoFiltro == tipo}">
		                </option>

		            </select>
		        </div>

		        <div class="form-group">
		            <label>Estado</label>

		            <select name="estado">
		                <option value="">Todos</option>

		                <option th:each="estado : ${estados}"
		                        th:value="${estado}"
		                        th:text="${estado}"
		                        th:selected="${estadoFiltro == estado}">
		                </option>

		            </select>
		        </div>

		    </div>

			<div style="margin-top:20px;">
			        <button class="btn btn-primary" type="submit">
			            Filtrar
			        </button>

			        <a th:href="@{/propiedades}"
			           class="btn btn-secondary">
			            Limpiar
			        </a>
			    </div>
		</form>

<br>

<div th:if="${mensajeExito}"
     class="alert alert-success"
     th:text="${mensajeExito}">
</div>

<div th:if="${mensajeError}"
     class="alert alert-error"
     th:text="${mensajeError}">
</div>

<div class="table-container">
	
<table>

			<thead>
			<tr>
			    <th>ID</th>
			    <th>Dirección</th>
			    <th>Ciudad</th>
			    <th>Tipo</th>
			    <th>Ambientes</th>
			    <th>Metros cuadrados</th>
			    <th>Estado</th>
			    <th>Propietario</th>
			    <th>Acciones</th>
			</tr>
			</thead>

	<tbody>

	<tr th:each="p : ${propiedades}">

	    <td th:text="${p.id}"></td>

	    <td th:text="${p.direccion}"></td>

	    <td th:text="${p.ciudad.nombre}"></td>

	    <td th:text="${p.tipo}"></td>

	    <td th:text="${p.cantidadAmbientes}"></td>

	    <td th:text="${p.metrosCuadrados}"></td>

	    <td th:text="${p.estado}"></td>

	    <td th:text="${p.propietario.apellido + ', ' + p.propietario.nombre}"></td>

		<td>

		    <a th:href="@{'/propiedades/' + ${p.id} + '/editar'}"
		       class="btn btn-primary">
		        Editar
		    </a>

		    <form th:action="@{'/propiedades/' + ${p.id} + '/eliminar'}"
		          method="post"
		          class="d-inline"
		          onsubmit="return confirm('¿Seguro que desea eliminar esta propiedad?');">

		        <button class="btn btn-danger"
		                type="submit">
		            Eliminar
		        </button>

		    </form>

		</td>

	</tr>

	</tbody>

</table>

</div>

</body>
</html>